name: Release Documentation

permissions: write-all

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build_docs:
    name: Build docs
    runs-on: ubuntu-latest

    steps:
      - name: Pull Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.62.2
          locked: true
          cache: true
          cache-write: ${{ github.ref == 'refs/heads/main' }}
          environments: dev

      - name: Build Docs
        run: |
          pixi reinstall -e dev NREL-gaps
          pixi run -e dev python-docs

      - name: deploy
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
          force_orphan: true
          full_commit_message: ${{ github.event.head_commit.message }}
