name: Lint Code Base

on:
  push:
    branches-ignore:
      - 'gh-pages'
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint Code Base with Ruff
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6
        with:
          version: "latest"
          args: check
          src: "./gaps"
      - uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6
        with:
          version: "latest"
          args: format --check
          src: "./gaps"
